# Dependencies
node_modules/

# Production build output
dist/

# Local Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
